<style>
  body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #f2f3f4;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 1.1em;
    font-weight: 400;
    line-break: normal;
    line-height: 1.5;
    color: #383838;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #383838;
  }

  a {
    color: #324ab2;
    background: rgb(50, 74, 178);
    background: -moz-linear-gradient(135deg, rgba(50, 74, 178, 1) 0%, rgba(46, 39, 135, 1) 75%);
    background: -webkit-linear-gradient(135deg, rgba(50, 74, 178, 1) 0%, rgba(46, 39, 135, 1) 75%);
    background: linear-gradient(135deg, rgba(50, 74, 178, 1) 0%, rgba(46, 39, 135, 1) 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#324ab2", endColorstr="#2e2787", GradientType=1);
    background-clip: text;
    background-size: cover;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration: none;
  }

  .title {
    -webkit-text-fill-color: #383838;
    -moz-text-fill-color: #383838;
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
    font-weight: bolder;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
    font-size: 16px;
    font-weight: 500;
    padding: 1px 4px 1px 4px;
    background-color: #e4e6e8;
    white-space: pre-wrap;
    overflow-x: auto;
  }

  pre code {
    color: #383838;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
    font-size: 14px;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: #232428;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #383838;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: #8b6fcb;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #1d1f27;
      color: #b9b9b9;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: #b9b9b9;
    }

    a {
      color: #8cc2dd;
      background: rgb(162, 190, 204);
      background: -moz-linear-gradient(135deg, rgba(162, 190, 204, 1) 0%, rgba(140, 194, 221, 1) 75%);
      background: -webkit-linear-gradient(135deg, rgba(162, 190, 204, 1) 0%, rgba(140, 194, 221, 1) 75%);
      background: linear-gradient(135deg, rgba(162, 190, 204, 1) 0%, rgba(140, 194, 221, 1) 75%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a2becc", endColorstr="#8cc2dd", GradientType=1);
      background-clip: text;
      background-size: cover;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      text-decoration: none;
    }

    .title {
      -webkit-text-fill-color: #b9b9b9;
      -moz-text-fill-color: #b9b9b9;
      text-decoration: none;
      border: 0;
    }

    code {
      background-color: #2e2f35;
    }

    pre code {
      color: #b9b9b9;
    }

    div.highlight code {
      background-color: #17181a;
    }

    blockquote {
      color: #ccc;
    }

    textarea,
    input {
      background-color: #252525;
      color: #b9b9b9;
    }

    .helptext {
      color: #aaa;
    }
  }
</style>
